.background {
    width: 100%;
}

body {
    margin: 0;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    align-items: center;
    display: block;
    width: 25%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'work sans';
    padding: 15px;
}

.header {
    display: flex;
    font-size: 700;
    color: hsl(292, 42%, 14%);
}

.what {
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    margin: 0;    
    padding: 0.25rem;
}

p {
    font-weight: 400;
    color: hsl(292, 16%, 49%);
    margin: 0;    
    padding: 0.25rem;
    max-height:150px;
    opacity: 1;
    transition: all 0.1s ease-in-out;
}

img {
    width: 20px;
    position: relative;
    cursor: pointer;
    z-index: 3;
}

.hidden {
    max-height: 0;
    opacity: 0;
    user-select: none;
}